
* {
   box-sizing: border-box;
}
body {font-family: Arial,Helvetica,
sans-serif;
}
#container 
 margin: 0 auto;
backgrounds-color:#fffaf0;
}
.topnav{ 
overflow: hidden; background-color: black; 
position: relative;
}
 .topnav #myLinks { 
 display: none;
}
 .topnav a {
  display: block;
  color:  white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
               
}

.row::after {
  content: "";
   clear: both;
   display: table;
}
h1,h2,h3 {
text-align: center;
}
p,ul,ol,li {
font-size: 15px;
}
span{
border-radius:15px;
padding:15px;
text-align: center;
background-color:blue;
color:#ffffff;

}
#footer {
background-color: #787878;
padding: 15px 15px;
color: white;
}
.col-12{ 
width: 100%;
}
@media screen and(min-width:768px){
.col-12 {
width: 100%;
}
.topnav a {
           display: block;
           float: left;
}
.topnav a.icon {
               display: none;
}
}
