t
* {
   box-sizing: border-box;
}
html {height: 100%; }
body {font-family: Arial,Helvetica,
sans-serif; background-color: #ccf2ff;
min-height: 100%;}       
#container{
 margin: 0 auto; 
}
.topnav{ 
overflow: hidden; 
background-color: black; 
position: relative;
}
 
 .topnav a {
  display: block;
  background-color: #000000;
  color:  #FFFFFF;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav #myLinks { 
 display: none;
}

.topnav a.icon {
  background-color: #000000;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  top: 0;
               
}

p,ul,ol,li {
font-size: 15px;
}
ul.none{ 
 list-style-type: none;
}

p span{
border-style: none;
padding: 15px;
text-align: center;
}

p a{
border-style: none;
padding: 15px;
text-align: center;
}
#footer {
background-color: #787878;
color: #000000;
padding: 15px 15px;
overflow: hidden;
position: absolute;
bottom: 0;
right:0; 
}

.row::after {
content: "";
clear: both;
display: table;
}

[class*= "col-"] {
  width:100%;
  float: left;
  background-color: #ccf2ff;
}

@media only screen and (min-width: 600px) {

  [class*= "col-md-"] { background-color: #ccf2ff; min-height: 100%;}

   .col-md-1 {width:8.33%;}
   .col-md-2 {width:16.66%;}
   .col-md-4 {width:33.33%;}
   .col-md-5 {width:41.66%;}
   .col-md-6 {width:50%;}
   .col-md-7 {width:58.33%;}
   .col-md-8 {width:66.66%;}
   .col-md-9 {width:75%;}
   .col-md-10 {width:83.33%;}
   .col-md-11 {width:91.66%;}
   .col-md-12 {width:100%;}  

   .topnav #myLinks { 
    display: block;
   }

   .topnav a { 
    display: block;
    float: left;
    }
    
 a.icon {
display: none;
}
}
