
* {box-sizing:border-box;}
#container{margin:0 0;}
.topnav{overflow:hidden;
background-color:#333;
position:relative;
}
 .topnav #myLinks{display:none}
 .topnav a {
  display:block;
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.icon {
  display:block;float:right;}

.row::after{content:"";
display:table;clear:both;}
h1,h2{text-align:center;}
#footer{background-color:#787878;padding:15px 15px;color:white;}
[class*="col-"]{
width:100%;
}
@media screen and(min-width:768px){.col-12{
width:100%;
}

}
